In [35]:
# standard imports

# print everything
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import sys
print('python:', sys.version_info[:3])

import numpy as np
print('numpy:', np.__version__)

import pandas as pd
print('pandas:', pd.__version__)


import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
print('seaborn:', sns.__version__)
plt.style.use('ggplot')

python: (3, 7, 3)
numpy: 1.16.4
pandas: 0.24.2
seaborn: 0.9.0

Data collected from *Box Office Mojo*: 

https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2010&p=.htm

shows **3387** movie *titles* from *2010* to *2018*
with **3359** doemstic gross values and **2032** foreign gross values.

In [36]:
#importing the dataframe from box office mojo
bom_movie_gross_df = pd.read_csv('data/bom.movie_gross.csv.gz')
bom_movie_gross_df.head()
bom_movie_gross_df.info()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

since the tn_movie_budgets_df has production budget, we will use that data set instead.

# 2. IMDB Data

Data gathered from [IMDB](https://www.imdb.com/interfaces/)

## name values like actor/director to be taken out from this dataset

**name.basics.tsv.gz** – Contains the following information for names:
- nconst (string) - alphanumeric unique identifier of the name/person
- primaryName (string)– name by which the person is most often credited
- birthYear – in YYYY format
- deathYear – in YYYY format if applicable, else '\N'
- primaryProfession (array of strings)– the top-3 professions of the person
- knownForTitles (array of tconsts) – titles the person is known for

In [37]:
pd.read_csv('data/imdb.name.basics.csv.gz').head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

**title.akas.tsv.gz** - Contains the following information for titles:

- titleId (string) - a tconst, an alphanumeric unique identifier of the title
- ordering (integer) – a number to uniquely identify rows for a given titleId
- title (string) – the localized title
- region (string) - the region for this version of the title
- language (string) - the language of the title
- types (array) - Enumerated set of attributes for this alternative title. One or more of the following: "alternative", "dvd", "festival", "tv", "video", "working", "original", "imdbDisplay". New values may be added in the future without warning
- attributes (array) - Additional terms to describe this alternative title, not enumerated
- isOriginalTitle (boolean) – 0: not original title; 1: original title

In [38]:
#checking the dataframe, won't be using this one
pd.read_csv('data/imdb.title.akas.csv.gz').head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

## Genre & title name info to be merged from this dataframe
**title.basics.tsv.gz** - Contains the following information for titles:
- tconst (string) - alphanumeric unique identifier of the title
- titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
- primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
- originalTitle (string) - original title, in the original language
- isAdult (boolean) - 0: non-adult title; 1: adult title
- startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year
- endYear (YYYY) – TV Series end year. ‘\N’ for all other title types
- runtimeMinutes – primary runtime of the title, in minutes
- genres (string array) – includes up to three genres associated with the title

In [39]:
pd.read_csv('data/imdb.title.basics.csv.gz').head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [40]:
imdb_title_basics_df = pd.read_csv('data/imdb.title.basics.csv.gz', 
                                   usecols = ['tconst', 
                                              'original_title', 
                                              'start_year', 
                                             'genres'])
imdb_title_basics_df.head()
imdb_title_basics_df.info()

      tconst              original_title  start_year                genres
0  tt0063540                   Sunghursh        2013    Action,Crime,Drama
1  tt0066787             Ashad Ka Ek Din        2019       Biography,Drama
2  tt0069049  The Other Side of the Wind        2018                 Drama
3  tt0069204             Sabse Bada Sukh        2018          Comedy,Drama
4  tt0100275       La Telenovela Errante        2017  Comedy,Drama,Fantasy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 4 columns):
tconst            146144 non-null object
original_title    146123 non-null object
start_year        146144 non-null int64
genres            140736 non-null object
dtypes: int64(1), object(3)
memory usage: 4.5+ MB

In [41]:
#to get a list of all mentioned genres
all_genres = set()
genre_series = imdb_title_basics_df.genres

for row in genre_series:
    try:
        for genre in row.split(','):
            all_genres.add(genre)
    except:
        continue
all_genres = list(all_genres)

#created separate columns for the genres
for genre in all_genres:
    imdb_title_basics_df[genre] = imdb_title_basics_df.genres.apply(lambda x: genre in str(x).split(','))

imdb_title_basics_df.columns
imdb_title_basics_df.head()

Index(['tconst', 'original_title', 'start_year', 'genres', 'Family', 'News',
       'Western', 'Fantasy', 'Game-Show', 'Adult', 'Reality-TV', 'Horror',
       'Musical', 'Sport', 'Music', 'Crime', 'Talk-Show', 'Sci-Fi', 'Action',
       'Mystery', 'Biography', 'War', 'Animation', 'History', 'Comedy',
       'Drama', 'Romance', 'Adventure', 'Documentary', 'Thriller', 'Short'],
      dtype='object')

,tconst,original_title,start_year,genres,Family,News,Western,Fantasy,Game-Show,Adult,...,War,Animation,History,Comedy,Drama,Romance,Adventure,Documentary,Thriller,Short
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama",False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,tt0066787,Ashad Ka Ek Din,2019,"Biography,Drama",False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,tt0069049,The Other Side of the Wind,2018,Drama,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama",False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,tt0100275,La Telenovela Errante,2017,"Comedy,Drama,Fantasy",False,False,False,True,False,False,...,False,False,False,True,True,False,False,False,False,False

## director and writer info to be extracted from this one

**title.crew.tsv.gz** – Contains the director and writer information for all the titles in IMDb. 

Fields include:
- tconst (string) - alphanumeric unique identifier of the title
- directors (array of nconsts) - director(s) of the given title
- writers (array of nconsts) – writer(s) of the given title

In [42]:
pd.read_csv('data/imdb.title.crew.csv.gz').head()
pd.read_csv('data/imdb.title.crew.csv.gz').info()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB

**title.principals.tsv.gz** – Contains the principal cast/crew for titles
- tconst (string) - alphanumeric unique identifier of the title
- ordering (integer) – a number to uniquely identify rows for a given titleId
- nconst (string) - alphanumeric unique identifier of the name/person
- category (string) - the category of job that person was in
- job (string) - the specific job title if applicable, else '\N'
- characters (string) - the name of the character played if applicable, else '\N'

In [43]:
pd.read_csv('data/imdb.title.principals.csv.gz').head()
pd.read_csv('data/imdb.title.principals.csv.gz').info()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB

In [44]:
imdb_title_principals_df = pd.read_csv('data/imdb.title.principals.csv.gz', 
                                       usecols = ['tconst', 
                                                  'nconst', 
                                                  'category'])

In [45]:
imdb_title_principals_df.head()

      tconst     nconst  category
0  tt0111414  nm0246005     actor
1  tt0111414  nm0398271  director
2  tt0111414  nm3739909  producer
3  tt0323808  nm0059247    editor
4  tt0323808  nm3579312   actress

**title.ratings.tsv.gz** – Contains the IMDb rating and votes information for titles
- tconst (string) - alphanumeric unique identifier of the title
- averageRating – weighted average of all the individual user ratings
- numVotes - number of votes the title has received

In [46]:
pd.read_csv('data/imdb.title.ratings.csv.gz').head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [47]:
imdb_title_ratings = pd.read_csv('data/imdb.title.ratings.csv.gz')
imdb_title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [48]:
#creating the master imdb dataframe via tconst. values in title.basics, title.ratings

In [49]:
imdb_review_genres_df = pd.merge(imdb_title_basics_df, imdb_title_ratings, 
             left_on = 'tconst', 
             right_on = 'tconst',
             how = 'inner')

In [50]:
imdb_title_basics_df.info()
print('\n')
imdb_title_ratings.info()
imdb_review_genres_df.head()
imdb_review_genres_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 31 columns):
tconst            146144 non-null object
original_title    146123 non-null object
start_year        146144 non-null int64
genres            140736 non-null object
Family            146144 non-null bool
News              146144 non-null bool
Western           146144 non-null bool
Fantasy           146144 non-null bool
Game-Show         146144 non-null bool
Adult             146144 non-null bool
Reality-TV        146144 non-null bool
Horror            146144 non-null bool
Musical           146144 non-null bool
Sport             146144 non-null bool
Music             146144 non-null bool
Crime             146144 non-null bool
Talk-Show         146144 non-null bool
Sci-Fi            146144 non-null bool
Action            146144 non-null bool
Mystery           146144 non-null bool
Biography         146144 non-null bool
War               146144 non-null bool
Animation         146144 non-null bool
History           146144 non-null bool
Comedy            146144 non-null bool
Drama             146144 non-null bool
Romance           146144 non-null bool
Adventure         146144 non-null bool
Documentary       146144 non-null bool
Thriller          146144 non-null bool
Short             146144 non-null bool
dtypes: bool(27), int64(1), object(3)
memory usage: 8.2+ MB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

,tconst,original_title,start_year,genres,Family,News,Western,Fantasy,Game-Show,Adult,...,History,Comedy,Drama,Romance,Adventure,Documentary,Thriller,Short,averagerating,numvotes
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama",False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,7.0,77
1,tt0066787,Ashad Ka Ek Din,2019,"Biography,Drama",False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,7.2,43
2,tt0069049,The Other Side of the Wind,2018,Drama,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,6.9,4517
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama",False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,6.1,13
4,tt0100275,La Telenovela Errante,2017,"Comedy,Drama,Fantasy",False,False,False,True,False,False,...,False,True,True,False,False,False,False,False,6.5,119

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73856 entries, 0 to 73855
Data columns (total 33 columns):
tconst            73856 non-null object
original_title    73856 non-null object
start_year        73856 non-null int64
genres            73052 non-null object
Family            73856 non-null bool
News              73856 non-null bool
Western           73856 non-null bool
Fantasy           73856 non-null bool
Game-Show         73856 non-null bool
Adult             73856 non-null bool
Reality-TV        73856 non-null bool
Horror            73856 non-null bool
Musical           73856 non-null bool
Sport             73856 non-null bool
Music             73856 non-null bool
Crime             73856 non-null bool
Talk-Show         73856 non-null bool
Sci-Fi            73856 non-null bool
Action            73856 non-null bool
Mystery           73856 non-null bool
Biography         73856 non-null bool
War               73856 non-null bool
Animation         73856 non-null bool
History           73856 non-null bool
Comedy            73856 non-null bool
Drama             73856 non-null bool
Romance           73856 non-null bool
Adventure         73856 non-null bool
Documentary       73856 non-null bool
Thriller          73856 non-null bool
Short             73856 non-null bool
averagerating     73856 non-null float64
numvotes          73856 non-null int64
dtypes: bool(27), float64(1), int64(2), object(3)
memory usage: 5.8+ MB

# Rotten Tomatoes Data
Data is gathered from [Kaggle](https://www.kaggle.com/rpnuser8182/rotten-tomatoes)

**rt.movie_info.tsv.gz** - Contains basic information about movies from rotten tomatoes:

- idtable - key: a primary key that can be used to join with the reviews file.
- synopsis - synopsis of the movie
- rating - Rotten Tomatoes rating for the movie
- genre - genre(s)
- director - director(s)
- writer - writers(s)
- theater_datedate - released to theaters
- dvd_datedate - released to dvd
- currency - currency of the box office value
- box_office - box office earnings
- runtime - minutes of runtime
- studio - production studio

In [51]:
pd.read_csv('data/rt.movie_info.tsv.gz', sep = '\t').head(100)
pd.read_csv('data/rt.movie_info.tsv.gz', sep = '\t').info()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN
10,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films
12,19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing
13,20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968","May 20, 2008",NaN,NaN,97 minutes,NaN
14,21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997","Sep 20, 1999",NaN,NaN,106 minutes,NaN
15,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures
16,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
17,24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987","Mar 8, 2005",NaN,NaN,98 minutes,NaN
18,25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures
19,26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004","Sep 21, 2004",$,"1,971,135",96 minutes,MGM
20,27,NaN,NR,Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,28,Elvis goes Hawaiian for the second time in thi...,G,Classics|Comedy|Musical and Performing Arts|Ro...,NaN,Allan Weiss|Anthony Lawrence,"Jun 15, 1966","Jan 7, 2003",NaN,NaN,90 minutes,NaN
22,29,This futuristic adventure stars Lee Majors as ...,PG,Action and Adventure|Drama|Science Fiction and...,Martyn Burke,NaN,"Apr 1, 1981","May 10, 2011",NaN,NaN,101 minutes,NaN
23,33,Howard W. Campbell Jr. (Nick Nolte) is an Amer...,R,Action and Adventure|Drama|Mystery and Suspense,Keith Gordon,NaN,"Nov 1, 1996","Aug 22, 2000",NaN,NaN,114 minutes,NaN
24,34,Director John Woo brings Hong Kong-style marti...,PG-13,Action and Adventure|Mystery and Suspense,John Woo,William Goldman|John Logan|David Marconi|Micha...,"Dec 31, 2000","Nov 7, 2000",NaN,NaN,123 minutes,Paramount Pictures
25,35,"In this film, conjoined twins Blake and Franci...",R,Drama,Michael Polish,Michael Polish|Mark Polish,"Jul 30, 1999","Jan 18, 2000",NaN,NaN,110 minutes,NaN
26,38,You'd think they would know better from their ...,R,Art House and International|Classics|Horror|My...,Roy Ward Baker,Anthony Hinds|John Elder,"Dec 23, 1970","Aug 7, 2001",NaN,NaN,96 minutes,NaN
27,39,A group of stoners at a rock festival is stalk...,R,Horror,David Arquette,David Arquette|Joe Harris,"Apr 20, 2007","Oct 30, 2007",NaN,NaN,97 minutes,After Dark Films/Freestyle Releasing
28,40,John Sayles' Casa de los Babys tells the tale ...,R,Drama,John Sayles,John Sayles,"Sep 19, 2003","Apr 13, 2004",$,"312,136",95 minutes,NaN
29,41,"Ken Loach directs Sweet Sixteen, a gritty dram...",R,Drama,Ken Loach,Paul Laverty,"May 16, 2003","Oct 7, 2003",$,"201,010",106 minutes,Lions Gate Films
...,...,...,...,...,...,...,...,...,...,...,...,...
70,88,This gay-lifestyle comedy features aspiring ph...,R,Comedy|Romance,NaN,NaN,"Jul 24, 1998","Dec 22, 1998",NaN,NaN,92 minutes,NaN
71,89,Now hear this. The studio that gave the cinema...,NR,Comedy|Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,123 minutes,NaN
72,90,"No, No, Nanette was the second film version of...",NR,Drama|Musical and Performing Arts|Romance,Herbert Wilcox,Ken Englund,NaN,NaN,NaN,NaN,96 minutes,NaN
73,92,A wonderfully atmospheric outing from Hammer F...,NR,Art House and International|Classics|Horror,John Gilling,Anthony Hinds|John Elder|Peter Bryan,"Jan 1, 1966","Nov 2, 1999",NaN,NaN,90 minutes,NaN
74,93,"""Garbo Laughs",R,Classics|Comedy|Drama|Romance,Ernst Lubitsch,Charles Brackett|Billy Wilder|Walter Reisch|Me...,"Nov 3, 1939","Sep 5, 2005",NaN,NaN,110 minutes,NaN
75,94,"In this gritty drama, a woman discovers that h...",R,Art House and International|Drama|Mystery and ...,Cheryl Dunye,Catherine Crouch|Cheryl Dunye,"Jun 23, 2001","Jul 16, 2002",NaN,NaN,90 minutes,NaN
76,95,BLEED FOR THIS is the incredible true story of...,R,Drama|Sports and Fitness,Ben Younger,Ben Younger,"Nov 18, 2016","Feb 14, 2017",$,"5,051,927",116 minutes,Open Road Films
77,96,A gang of suburban slackers spend an evening h...,R,Comedy|Drama,Richard Linklater,Eric Bogosian,NaN,NaN,NaN,NaN,118 minutes,NaN
78,98,This video features the story of a mother tell...,NR,Comedy|Drama,Alan Hale,Beulah Marie Dix,NaN,NaN,NaN,NaN,104 minutes,NaN
79,99,A woman finds herself attempting to foil one o...,PG-13,Comedy|Romance,NaN,NaN,"Dec 20, 2002","Apr 29, 2003",$,"93,300,000",102 minutes,Warner Bros.
80,100,Four old college friends in their forties come...,NR,Comedy|Drama,Willem van de Sande Bakhuyzen,NaN,NaN,NaN,NaN,NaN,108 minutes,NaN
81,101,After getting booted out of his latest manager...,R,Comedy|Drama|Television,Tommy Lee Wallace,NaN,"Jul 11, 1992","Apr 21, 1993",NaN,NaN,90 minutes,NaN
82,102,"Aging, small town attorney Mac McClain (Matthe...",PG-13,Drama|Mystery and Suspense,Gary Wheeler,Mark Freiburger|Gary Wheeler|Robert Whitlow|Ma...,NaN,NaN,NaN,NaN,101 minutes,Fox
83,104,"In 1981, Ronald Biggs was kidnapped by agents ...",NR,Action and Adventure|Mystery and Suspense,Lech Majewski,NaN,NaN,NaN,NaN,NaN,90 minutes,NaN
84,105,Mark Twain's classic tale of comedy and advent...,NR,Animation|Kids and Family|Special Interest,NaN,NaN,NaN,NaN,NaN,NaN,60 minutes,NaN
85,106,Three dope-smoking ex-convicts live among frie...,R,Comedy,Mike Clattenburg,Mike Clattenburg|Robb Wells,"Jun 6, 2006","Apr 22, 2008",NaN,NaN,95 minutes,Screen Media Films
86,108,A picture-perfect family moves into an upscale...,R,Comedy|Drama|Kids and Family,Derrick Borte,Derrick Borte,"Apr 16, 2010","Aug 10, 2010",$,"1,000,000",93 minutes,Roadside Attractions
87,109,NaN,NR,Comedy|Drama,Mike Figgis,NaN,NaN,NaN,NaN,NaN,55 minutes,NaN
88,110,This is director Frank Capra's classic bitters...,PG,Classics|Comedy|Drama|Kids and Family|Science ...,Frank Capra,Frank Capra|Frances Goodrich|Albert Hackett,"Dec 25, 1946","Sep 19, 1995",NaN,NaN,135 minutes,NaN
89,111,Detective Rem Macy (Tom Berenger) is investiga...,R,Drama|Mystery and Suspense,NaN,NaN,"Nov 29, 2001","Mar 5, 2002",NaN,NaN,101 minutes,NaN
90,115,"""Toy Story 2"" is the exciting, all-new sequel ...",G,Animation|Comedy|Kids and Family|Science Ficti...,John Lasseter,Doug Chamberlain|Rita Hsiao|Doug Chamberlin|Ch...,"Nov 24, 1999","Oct 17, 2000",NaN,NaN,92 minutes,Buena Vista Pictures
91,116,"Jane Campion's first film, Sweetie, is the biz...",R,Art House and International|Comedy|Drama,Jane Campion,Gerard Lee|Jane Campion,"Sep 10, 1989","Oct 24, 2006",NaN,NaN,97 minutes,NaN
92,118,"For four years, the courageous crew of the NSE...",PG,Comedy|Science Fiction and Fantasy,Dean Parisot,Robert Gordon,"Dec 25, 1999","May 2, 2000",NaN,NaN,102 minutes,DreamWorks SKG
93,119,"Brian DePalma directed this taut thriller, set...",R,Action and Adventure|Drama|Mystery and Suspense,Brian DePalma,Brian DePalma|David Koepp,"Aug 7, 1998","Feb 16, 1999",NaN,NaN,107 minutes,NaN
94,120,Artist Christopher Pride has just been commiss...,PG,Comedy|Romance,Jerry Lewis,NaN,NaN,NaN,NaN,NaN,109 minutes,NaN
95,121,Comic actor and former Saturday Night Live sto...,PG-13,Comedy|Romance,Thomas Schlamme,Mike Myers|Robbie Fox|Carrie Fisher|Neil Mulla...,"Jul 30, 1993","Jun 1, 1999",NaN,NaN,93 minutes,NaN
96,123,The second of Robert Youngson's compilations o...,NR,Classics|Comedy|Special Interest,Robert Youngson,Robert Youngson,"Mar 31, 1968","Jun 5, 2007",NaN,NaN,99 minutes,NaN
97,124,"In present-day London, twelve-year-old Quinn w...",PG-13,Action and Adventure|Science Fiction and Fantasy,Rob Bowman,Terry Hayes|Kevin Peterka|Gregg Chabot|Matthew...,"Jul 12, 2002","Nov 19, 2002",$,"42,929,971",101 minutes,Buena Vista Distribution Compa
98,126,Following up from their success with Project A...,NR,Action and Adventure|Art House and Internation...,Sammo Hung Kam-Bo,NaN,"Aug 17, 1984","Aug 14, 2001",NaN,NaN,98 minutes,NaN
99,127,A tortured man finds himself caught in a middl...,R,Drama|Horror|Mystery and Suspense,Adrian Lyne,Bruce Joel Rubin|Joel Blasberg,"Nov 2, 1990","Sep 14, 2010",NaN,NaN,113 minutes,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
id              1560 non-null int64
synopsis        1498 non-null object
rating          1557 non-null object
genre           1552 non-null object
director        1361 non-null object
writer          1111 non-null object
theater_date    1201 non-null object
dvd_date        1201 non-null object
currency        340 non-null object
box_office      340 non-null object
runtime         1530 non-null object
studio          494 non-null object
dtypes: int64(1), object(11)
memory usage: 146.3+ KB

**rt.movie_info.tsv.gz** - Contains basic information about movie reviews from rotten tomatoes:

- id: table foreign key; used to join with movie_info.tsv
- reviews: text of critic reviews
- rating: rating
- fresh: freshness of review - fresh or rotten
- critic: critic name
- top_critic: if critic is considered a 'top critic' 1 or 0
- publisher: publisher or review
- date: date of review

In [52]:
pd.read_csv('data/rt.reviews.tsv.gz', sep = '\t', encoding='latin-1').head()
pd.read_csv('data/rt.reviews.tsv.gz', sep = '\t', encoding='latin-1').info()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
id            54432 non-null int64
review        48869 non-null object
rating        40915 non-null object
fresh         54432 non-null object
critic        51710 non-null object
top_critic    54432 non-null int64
publisher     54123 non-null object
date          54432 non-null object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [53]:
pd.read_csv('data/tmdb.movies.csv.gz').head()
pd.read_csv('data/tmdb.movies.csv.gz').info()
#we can use popularity

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [54]:
pd.read_csv('data/tn.movie_budgets.csv.gz').head()
pd.read_csv('data/tn.movie_budgets.csv.gz').info()
tn_movie_budgets_df = pd.read_csv('data/tn.movie_budgets.csv.gz')

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.1+ KB

In [55]:
def convert_to_numeric(some_object):
    '''This function converts formatted numbers 
     with $ sign and thousand separaters to integers.'''
    return int(some_object.lstrip('$').replace(',',''))

#convert formatted numbers to numeric values
tn_movie_budgets_df.iloc[:, 3:] = tn_movie_budgets_df.iloc[:, 3:].applymap(convert_to_numeric)
#remove id column
tn_movie_budgets_df.drop('id', inplace=True, axis=1)
#keep only the year from the release_date column
tn_movie_budgets_df['year'] = tn_movie_budgets_df.release_date.apply(lambda x: x[-4:]).astype(int)
tn_movie_budgets_df.drop('release_date', inplace=True, axis=1)
tn_movie_budgets_df.head()
tn_movie_budgets_df.info()

,movie,production_budget,domestic_gross,worldwide_gross,year
0,Avatar,425000000,760507625,2776345279,2009
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2011
2,Dark Phoenix,350000000,42762350,149762350,2019
3,Avengers: Age of Ultron,330600000,459005868,1403013963,2015
4,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,2017

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 5 columns):
movie                5782 non-null object
production_budget    5782 non-null int64
domestic_gross       5782 non-null int64
worldwide_gross      5782 non-null int64
year                 5782 non-null int32
dtypes: int32(1), int64(3), object(1)
memory usage: 203.4+ KB

In [56]:
genre_financial_df = pd.merge(imdb_title_basics_df, tn_movie_budgets_df, 
         left_on = 'original_title', 
        right_on = 'movie', 
        how = 'inner')

In [57]:
genre_financial_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3537 entries, 0 to 3536
Data columns (total 36 columns):
tconst               3537 non-null object
original_title       3537 non-null object
start_year           3537 non-null int64
genres               3473 non-null object
Family               3537 non-null bool
News                 3537 non-null bool
Western              3537 non-null bool
Fantasy              3537 non-null bool
Game-Show            3537 non-null bool
Adult                3537 non-null bool
Reality-TV           3537 non-null bool
Horror               3537 non-null bool
Musical              3537 non-null bool
Sport                3537 non-null bool
Music                3537 non-null bool
Crime                3537 non-null bool
Talk-Show            3537 non-null bool
Sci-Fi               3537 non-null bool
Action               3537 non-null bool
Mystery              3537 non-null bool
Biography            3537 non-null bool
War                  3537 non-null bool
Animation            3537 non-null bool
History              3537 non-null bool
Comedy               3537 non-null bool
Drama                3537 non-null bool
Romance              3537 non-null bool
Adventure            3537 non-null bool
Documentary          3537 non-null bool
Thriller             3537 non-null bool
Short                3537 non-null bool
movie                3537 non-null object
production_budget    3537 non-null int64
domestic_gross       3537 non-null int64
worldwide_gross      3537 non-null int64
year                 3537 non-null int32
dtypes: bool(27), int32(1), int64(4), object(4)
memory usage: 355.8+ KB

In [58]:
genre_financial_df = genre_financial_df.loc[(genre_financial_df.year > 2009) & #filtering out movies for 2010-2018
                                            (genre_financial_df.year <2019)]

In [59]:
genre_financial_df.head()
genre_financial_df.info()

,tconst,original_title,start_year,genres,Family,News,Western,Fantasy,Game-Show,Adult,...,Romance,Adventure,Documentary,Thriller,Short,movie,production_budget,domestic_gross,worldwide_gross,year
0,tt0249516,Foodfight!,2012,"Action,Animation,Comedy",False,False,False,False,False,False,...,False,False,False,False,False,Foodfight!,45000000,0,73706,2012
2,tt0326592,The Overnight,2010,NaN,False,False,False,False,False,False,...,False,False,False,False,False,The Overnight,200000,1109808,1165996,2015
3,tt3844362,The Overnight,2015,"Comedy,Mystery",False,False,False,False,False,False,...,False,False,False,False,False,The Overnight,200000,1109808,1165996,2015
4,tt0337692,On the Road,2012,"Adventure,Drama,Romance",False,False,False,False,False,False,...,True,True,False,False,False,On the Road,25000000,720828,9313302,2013
5,tt2404548,On the Road,2011,Drama,False,False,False,False,False,False,...,False,False,False,False,False,On the Road,25000000,720828,9313302,2013

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2442 entries, 0 to 3516
Data columns (total 36 columns):
tconst               2442 non-null object
original_title       2442 non-null object
start_year           2442 non-null int64
genres               2415 non-null object
Family               2442 non-null bool
News                 2442 non-null bool
Western              2442 non-null bool
Fantasy              2442 non-null bool
Game-Show            2442 non-null bool
Adult                2442 non-null bool
Reality-TV           2442 non-null bool
Horror               2442 non-null bool
Musical              2442 non-null bool
Sport                2442 non-null bool
Music                2442 non-null bool
Crime                2442 non-null bool
Talk-Show            2442 non-null bool
Sci-Fi               2442 non-null bool
Action               2442 non-null bool
Mystery              2442 non-null bool
Biography            2442 non-null bool
War                  2442 non-null bool
Animation            2442 non-null bool
History              2442 non-null bool
Comedy               2442 non-null bool
Drama                2442 non-null bool
Romance              2442 non-null bool
Adventure            2442 non-null bool
Documentary          2442 non-null bool
Thriller             2442 non-null bool
Short                2442 non-null bool
movie                2442 non-null object
production_budget    2442 non-null int64
domestic_gross       2442 non-null int64
worldwide_gross      2442 non-null int64
year                 2442 non-null int32
dtypes: bool(27), int32(1), int64(4), object(4)
memory usage: 245.6+ KB

In [60]:
# using the year and the start year to filter out duplicate movies in different years and use one
genre_financial_df = genre_financial_df.loc[genre_financial_df.year == genre_financial_df.start_year]

In [61]:
genre_financial_df.head(200)
genre_financial_df.info()

,tconst,original_title,start_year,genres,Family,News,Western,Fantasy,Game-Show,Adult,...,Romance,Adventure,Documentary,Thriller,Short,movie,production_budget,domestic_gross,worldwide_gross,year
0,tt0249516,Foodfight!,2012,"Action,Animation,Comedy",False,False,False,False,False,False,...,False,False,False,False,False,Foodfight!,45000000,0,73706,2012
3,tt3844362,The Overnight,2015,"Comedy,Mystery",False,False,False,False,False,False,...,False,False,False,False,False,The Overnight,200000,1109808,1165996,2015
6,tt3872966,On the Road,2013,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,On the Road,25000000,720828,9313302,2013
10,tt0359950,The Secret Life of Walter Mitty,2013,"Adventure,Comedy,Drama",False,False,False,False,False,False,...,False,True,False,False,False,The Secret Life of Walter Mitty,91000000,58236838,187861183,2013
11,tt0365907,A Walk Among the Tombstones,2014,"Action,Crime,Drama",False,False,False,False,False,False,...,False,False,False,False,False,A Walk Among the Tombstones,28000000,26017685,62108587,2014
12,tt0369610,Jurassic World,2015,"Action,Adventure,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,Jurassic World,215000000,652270625,1648854864,2015
13,tt0376136,The Rum Diary,2011,"Comedy,Drama",False,False,False,False,False,False,...,False,False,False,False,False,The Rum Diary,45000000,13109815,21544732,2011
14,tt0383010,The Three Stooges,2012,"Comedy,Family",True,False,False,False,False,False,...,False,False,False,False,False,The Three Stooges,30000000,44338224,54052249,2012
16,tt0393049,Anderson's Cross,2010,"Comedy,Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Anderson's Cross,300000,0,0,2010
17,tt0398286,Tangled,2010,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Tangled,260000000,200821936,586477240,2010
18,tt0401729,John Carter,2012,"Action,Adventure,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,John Carter,275000000,73058679,282778100,2012
20,tt0427152,Dinner for Schmucks,2010,Comedy,False,False,False,False,False,False,...,False,False,False,False,False,Dinner for Schmucks,69000000,73026337,86796502,2010
21,tt0429493,The A-Team,2010,"Action,Adventure,Thriller",False,False,False,False,False,False,...,False,True,False,True,False,The A-Team,110000000,77222099,177241171,2010
22,tt0431021,The Possession,2012,"Horror,Mystery,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Possession,14000000,49130588,82925064,2012
23,tt0433035,Real Steel,2011,"Action,Drama,Family",True,False,False,False,False,False,...,False,False,False,False,False,Real Steel,110000000,85463309,263880341,2011
24,tt0435651,The Giver,2014,"Drama,Romance,Sci-Fi",False,False,False,False,False,False,...,True,False,False,False,False,The Giver,25000000,45090374,66540205,2014
25,tt0435761,Toy Story 3,2010,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Toy Story 3,200000000,415004880,1068879522,2010
27,tt1560985,The Devil Inside,2012,Horror,False,False,False,False,False,False,...,False,False,False,False,False,The Devil Inside,1000000,53262945,101759490,2012
29,tt0443272,Lincoln,2012,"Biography,Drama,History",False,False,False,False,False,False,...,False,False,False,False,False,Lincoln,65000000,182207973,273346281,2012
33,tt0443533,The History of Love,2016,"Drama,Romance,War",False,False,False,False,False,False,...,True,False,False,False,False,The History of Love,20000000,0,476624,2016
35,tt0448694,Puss in Boots,2011,"Action,Adventure,Animation",False,False,False,False,False,False,...,False,True,False,False,False,Puss in Boots,130000000,149260504,554987477,2011
36,tt0451279,Wonder Woman,2017,"Action,Adventure,Fantasy",False,False,False,True,False,False,...,False,True,False,False,False,Wonder Woman,150000000,412563408,821133378,2017
39,tt0453562,42,2013,"Biography,Drama,Sport",False,False,False,False,False,False,...,False,False,False,False,False,42,31000000,95020213,97470701,2013
40,tt0454876,Life of Pi,2012,"Adventure,Drama,Fantasy",False,False,False,True,False,False,...,False,True,False,False,False,Life of Pi,120000000,124987022,620912003,2012
41,tt0455407,The Crazies,2010,"Horror,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Crazies,19000000,39123589,56445534,2010
42,tt0455944,The Equalizer,2014,"Action,Crime,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Equalizer,55000000,101530738,192903624,2014
43,tt0458339,Captain America: The First Avenger,2011,"Action,Adventure,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,Captain America: The First Avenger,140000000,176654505,370569776,2011
44,tt0458481,Sin City: A Dame to Kill For,2014,"Crime,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,Sin City: A Dame to Kill For,65000000,13757804,40650842,2014
45,tt0464054,House at the End of the Drive,2014,"Horror,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,House at the End of the Drive,1400000,0,0,2014
46,tt0464154,Piranha 3D,2010,"Comedy,Horror",False,False,False,False,False,False,...,False,False,False,False,False,Piranha 3D,24000000,25003155,83660160,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,tt2132321,Eden,2016,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Eden,2300000,0,0,2016
437,tt1043726,The Legend of Hercules,2014,"Action,Adventure,Fantasy",False,False,False,True,False,False,...,False,True,False,False,False,The Legend of Hercules,70000000,18848538,58953319,2014
446,tt2106361,Into the Storm,2014,"Action,Adventure,Drama",False,False,False,False,False,False,...,False,True,False,False,False,Into the Storm,50000000,47602194,150429371,2014
449,tt1781769,Anna Karenina,2012,"Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Anna Karenina,49000000,12816367,71004627,2012
455,tt2380307,Coco,2017,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Coco,175000000,209726015,798008101,2017
456,tt7002100,Coco,2017,Horror,False,False,False,False,False,False,...,False,False,False,False,False,Coco,175000000,209726015,798008101,2017
457,tt1045658,Silver Linings Playbook,2012,"Comedy,Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Silver Linings Playbook,21000000,132092958,236412453,2012
472,tt3802576,Brothers,2015,"Action,Drama,Sport",False,False,False,False,False,False,...,False,False,False,False,False,Brothers,13000000,656688,17856688,2015
480,tt1599348,Safe House,2012,"Action,Adventure,Crime",False,False,False,False,False,False,...,False,True,False,False,False,Safe House,85000000,126181630,208542162,2012
482,tt1047540,Parental Guidance,2012,"Comedy,Family",True,False,False,False,False,False,...,False,False,False,False,False,Parental Guidance,25000000,77267296,120832383,2012
483,tt1051904,Goosebumps,2015,"Adventure,Comedy,Family",True,False,False,False,False,False,...,False,True,False,False,False,Goosebumps,58000000,80069458,158905324,2015
484,tt1053424,Repo Men,2010,"Action,Crime,Sci-Fi",False,False,False,False,False,False,...,False,False,False,False,False,Repo Men,32000000,13942007,18195238,2010
485,tt1053810,The Big Year,2011,Comedy,False,False,False,False,False,False,...,False,False,False,False,False,The Big Year,41000000,7204138,7684524,2011
486,tt1055292,Life as We Know It,2010,"Comedy,Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Life as We Know It,38000000,53374681,105887837,2010
488,tt1065073,Boyhood,2014,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Boyhood,4000000,25379975,57273049,2014
489,tt1067583,Water for Elephants,2011,"Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Water for Elephants,38000000,58709717,116809717,2011
490,tt1067774,Monte Carlo,2011,"Adventure,Comedy,Family",True,False,False,False,False,False,...,False,True,False,False,False,Monte Carlo,20000000,23186769,39686769,2011
491,tt1068242,Footloose,2011,"Comedy,Drama,Music",False,False,False,False,False,False,...,False,False,False,False,False,Footloose,24000000,51802742,62989834,2011
496,tt1072748,Winchester,2018,"Biography,Drama,Fantasy",False,False,False,True,False,False,...,False,False,False,False,False,Winchester,3500000,25091816,44378040,2018
497,tt1074638,Skyfall,2012,"Action,Adventure,Thriller",False,False,False,False,False,False,...,False,True,False,True,False,Skyfall,200000000,304360277,1110526981,2012
498,tt1075747,Jonah Hex,2010,"Action,Drama,Fantasy",False,False,False,True,False,False,...,False,False,False,False,False,Jonah Hex,47000000,10547117,11022696,2010
499,tt1077368,Dark Shadows,2012,"Comedy,Fantasy,Horror",False,False,False,True,False,False,...,False,False,False,False,False,Dark Shadows,150000000,79727149,238202668,2012
504,tt4786282,Lights Out,2016,"Drama,Horror,Mystery",False,False,False,False,False,False,...,False,False,False,False,False,Lights Out,5000000,67268835,148806510,2016
505,tt5328340,Lights Out,2016,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,Lights Out,5000000,67268835,148806510,2016
506,tt1085492,The Prince,2014,"Action,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Prince,18000000,0,0,2014
507,tt1086772,Blended,2014,"Comedy,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Blended,45000000,46290741,127990741,2014
508,tt1091191,Lone Survivor,2013,"Action,Biography,Drama",False,False,False,False,False,False,...,False,False,False,False,False,Lone Survivor,40000000,125095601,149804632,2013
510,tt1959490,Noah,2014,"Action,Adventure,Drama",False,False,False,False,False,False,...,False,True,False,False,False,Noah,130000000,101200044,352831065,2014
512,tt1092026,Paul,2011,"Adventure,Comedy,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,Paul,40000000,37412945,101162106,2011
517,tt1093357,The Darkest Hour,2011,"Action,Adventure,Horror",False,False,False,False,False,False,...,False,True,False,False,False,The Darkest Hour,34800000,21443494,62831715,2011

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1491 entries, 0 to 3506
Data columns (total 36 columns):
tconst               1491 non-null object
original_title       1491 non-null object
start_year           1491 non-null int64
genres               1487 non-null object
Family               1491 non-null bool
News                 1491 non-null bool
Western              1491 non-null bool
Fantasy              1491 non-null bool
Game-Show            1491 non-null bool
Adult                1491 non-null bool
Reality-TV           1491 non-null bool
Horror               1491 non-null bool
Musical              1491 non-null bool
Sport                1491 non-null bool
Music                1491 non-null bool
Crime                1491 non-null bool
Talk-Show            1491 non-null bool
Sci-Fi               1491 non-null bool
Action               1491 non-null bool
Mystery              1491 non-null bool
Biography            1491 non-null bool
War                  1491 non-null bool
Animation            1491 non-null bool
History              1491 non-null bool
Comedy               1491 non-null bool
Drama                1491 non-null bool
Romance              1491 non-null bool
Adventure            1491 non-null bool
Documentary          1491 non-null bool
Thriller             1491 non-null bool
Short                1491 non-null bool
movie                1491 non-null object
production_budget    1491 non-null int64
domestic_gross       1491 non-null int64
worldwide_gross      1491 non-null int64
year                 1491 non-null int32
dtypes: bool(27), int32(1), int64(4), object(4)
memory usage: 150.0+ KB

In [62]:
genre_financial_df.genres.isna().sum() #finding the none values

4

In [63]:
genre_financial_df.dropna(subset = ['genres'], inplace = True)

In [64]:
genre_financial_df = genre_financial_df.loc[(genre_financial_df.worldwide_gross != 0)]

In [67]:
genre_financial_df.head(100)

,tconst,original_title,start_year,genres,Family,News,Western,Fantasy,Game-Show,Adult,...,Romance,Adventure,Documentary,Thriller,Short,movie,production_budget,domestic_gross,worldwide_gross,year
0,tt0249516,Foodfight!,2012,"Action,Animation,Comedy",False,False,False,False,False,False,...,False,False,False,False,False,Foodfight!,45000000,0,73706,2012
3,tt3844362,The Overnight,2015,"Comedy,Mystery",False,False,False,False,False,False,...,False,False,False,False,False,The Overnight,200000,1109808,1165996,2015
6,tt3872966,On the Road,2013,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,On the Road,25000000,720828,9313302,2013
10,tt0359950,The Secret Life of Walter Mitty,2013,"Adventure,Comedy,Drama",False,False,False,False,False,False,...,False,True,False,False,False,The Secret Life of Walter Mitty,91000000,58236838,187861183,2013
11,tt0365907,A Walk Among the Tombstones,2014,"Action,Crime,Drama",False,False,False,False,False,False,...,False,False,False,False,False,A Walk Among the Tombstones,28000000,26017685,62108587,2014
12,tt0369610,Jurassic World,2015,"Action,Adventure,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,Jurassic World,215000000,652270625,1648854864,2015
13,tt0376136,The Rum Diary,2011,"Comedy,Drama",False,False,False,False,False,False,...,False,False,False,False,False,The Rum Diary,45000000,13109815,21544732,2011
14,tt0383010,The Three Stooges,2012,"Comedy,Family",True,False,False,False,False,False,...,False,False,False,False,False,The Three Stooges,30000000,44338224,54052249,2012
17,tt0398286,Tangled,2010,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Tangled,260000000,200821936,586477240,2010
18,tt0401729,John Carter,2012,"Action,Adventure,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,John Carter,275000000,73058679,282778100,2012
20,tt0427152,Dinner for Schmucks,2010,Comedy,False,False,False,False,False,False,...,False,False,False,False,False,Dinner for Schmucks,69000000,73026337,86796502,2010
21,tt0429493,The A-Team,2010,"Action,Adventure,Thriller",False,False,False,False,False,False,...,False,True,False,True,False,The A-Team,110000000,77222099,177241171,2010
22,tt0431021,The Possession,2012,"Horror,Mystery,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Possession,14000000,49130588,82925064,2012
23,tt0433035,Real Steel,2011,"Action,Drama,Family",True,False,False,False,False,False,...,False,False,False,False,False,Real Steel,110000000,85463309,263880341,2011
24,tt0435651,The Giver,2014,"Drama,Romance,Sci-Fi",False,False,False,False,False,False,...,True,False,False,False,False,The Giver,25000000,45090374,66540205,2014
25,tt0435761,Toy Story 3,2010,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Toy Story 3,200000000,415004880,1068879522,2010
27,tt1560985,The Devil Inside,2012,Horror,False,False,False,False,False,False,...,False,False,False,False,False,The Devil Inside,1000000,53262945,101759490,2012
29,tt0443272,Lincoln,2012,"Biography,Drama,History",False,False,False,False,False,False,...,False,False,False,False,False,Lincoln,65000000,182207973,273346281,2012
33,tt0443533,The History of Love,2016,"Drama,Romance,War",False,False,False,False,False,False,...,True,False,False,False,False,The History of Love,20000000,0,476624,2016
35,tt0448694,Puss in Boots,2011,"Action,Adventure,Animation",False,False,False,False,False,False,...,False,True,False,False,False,Puss in Boots,130000000,149260504,554987477,2011
36,tt0451279,Wonder Woman,2017,"Action,Adventure,Fantasy",False,False,False,True,False,False,...,False,True,False,False,False,Wonder Woman,150000000,412563408,821133378,2017
39,tt0453562,42,2013,"Biography,Drama,Sport",False,False,False,False,False,False,...,False,False,False,False,False,42,31000000,95020213,97470701,2013
40,tt0454876,Life of Pi,2012,"Adventure,Drama,Fantasy",False,False,False,True,False,False,...,False,True,False,False,False,Life of Pi,120000000,124987022,620912003,2012
41,tt0455407,The Crazies,2010,"Horror,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Crazies,19000000,39123589,56445534,2010
42,tt0455944,The Equalizer,2014,"Action,Crime,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Equalizer,55000000,101530738,192903624,2014
43,tt0458339,Captain America: The First Avenger,2011,"Action,Adventure,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,Captain America: The First Avenger,140000000,176654505,370569776,2011
44,tt0458481,Sin City: A Dame to Kill For,2014,"Crime,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,Sin City: A Dame to Kill For,65000000,13757804,40650842,2014
46,tt0464154,Piranha 3D,2010,"Comedy,Horror",False,False,False,False,False,False,...,False,False,False,False,False,Piranha 3D,24000000,25003155,83660160,2010
47,tt0466893,Margaret,2011,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Margaret,14000000,47185,623292,2011
49,tt0471042,Tower Heist,2011,"Action,Comedy,Crime",False,False,False,False,False,False,...,False,False,False,False,False,Tower Heist,85000000,78046570,150422946,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,tt0816692,Interstellar,2014,"Adventure,Drama,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,Interstellar,165000000,188017894,666379375,2014
121,tt0816711,World War Z,2013,"Action,Adventure,Horror",False,False,False,False,False,False,...,False,True,False,False,False,World War Z,190000000,202359711,531514650,2013
122,tt0817177,Flipped,2010,"Comedy,Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Flipped,14000000,1755212,4289993,2010
124,tt0817230,Valentine's Day,2010,"Comedy,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Valentine's Day,52000000,110485654,217569328,2010
125,tt0822847,Priest,2011,"Action,Adventure,Fantasy",False,False,False,True,False,False,...,False,True,False,False,False,Priest,60000000,29136626,84154026,2011
126,tt0829150,Dracula Untold,2014,"Action,Drama,Fantasy",False,False,False,True,False,False,...,False,False,False,False,False,Dracula Untold,70000000,55991880,220241723,2014
127,tt0831387,Godzilla,2014,"Action,Adventure,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,Godzilla,160000000,200676069,529076069,2014
129,tt0837562,Hotel Transylvania,2012,"Animation,Comedy,Family",True,False,False,False,False,False,...,False,False,False,False,False,Hotel Transylvania,85000000,148313048,378505812,2012
132,tt0840361,The Town,2010,"Crime,Drama,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Town,37000000,92186262,152566881,2010
134,tt0842926,The Kids Are All Right,2010,"Comedy,Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,The Kids Are All Right,4000000,20811365,36275469,2010
135,tt0848228,The Avengers,2012,"Action,Adventure,Sci-Fi",False,False,False,False,False,False,...,False,True,False,False,False,The Avengers,225000000,623279547,1517935897,2012
137,tt0848537,Epic,2013,"Adventure,Animation,Family",True,False,False,False,False,False,...,False,True,False,False,False,Epic,100000000,107518682,262794441,2013
139,tt3231054,Risen,2016,"Action,Adventure,Drama",False,False,False,False,False,False,...,False,True,False,False,False,Risen,20000000,36880033,46255763,2016
141,tt0864835,Mr. Peabody & Sherman,2014,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Mr. Peabody & Sherman,145000000,111506430,269806430,2014
142,tt0872230,My Soul to Take,2010,"Horror,Mystery,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,My Soul to Take,25000000,14744435,16727470,2010
143,tt0873886,Red State,2011,"Action,Crime,Horror",False,False,False,False,False,False,...,False,False,False,False,False,Red State,4000000,1065429,1983596,2011
144,tt0878835,Please Give,2010,"Comedy,Drama",False,False,False,False,False,False,...,False,False,False,False,False,Please Give,3000000,4033574,4570178,2010
145,tt0879870,Eat Pray Love,2010,"Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Eat Pray Love,60000000,80574010,206598789,2010
146,tt0881320,Sanctum,2011,"Adventure,Drama,Thriller",False,False,False,False,False,False,...,False,True,False,True,False,Sanctum,30000000,23209310,108957098,2011
147,tt0882977,Snitch,2013,"Action,Drama,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,Snitch,15000000,42930462,57907734,2013
149,tt0884732,The Wedding Ringer,2015,Comedy,False,False,False,False,False,False,...,False,False,False,False,False,The Wedding Ringer,23000000,64460211,80171596,2015
150,tt0889573,The Switch,2010,"Comedy,Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,The Switch,19000000,27758465,49858465,2010
151,tt0892318,Letters to Juliet,2010,"Adventure,Comedy,Drama",False,False,False,False,False,False,...,False,True,False,False,False,Letters to Juliet,30000000,53032453,82148538,2010
152,tt0892769,How to Train Your Dragon,2010,"Action,Adventure,Animation",False,False,False,False,False,False,...,False,True,False,False,False,How to Train Your Dragon,165000000,217581232,494870992,2010
153,tt0892791,Shrek Forever After,2010,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Shrek Forever After,165000000,238736787,756244673,2010
154,tt0903624,The Hobbit: An Unexpected Journey,2012,"Adventure,Family,Fantasy",True,False,False,True,False,False,...,False,True,False,False,False,The Hobbit: An Unexpected Journey,250000000,303003568,1017003568,2012
155,tt0905372,The Thing,2011,"Horror,Mystery,Sci-Fi",False,False,False,False,False,False,...,False,False,False,False,False,The Thing,38000000,16999934,27573078,2011
157,tt0918940,The Legend of Tarzan,2016,"Action,Adventure,Drama",False,False,False,False,False,False,...,False,True,False,False,False,The Legend of Tarzan,180000000,126643061,348902025,2016
159,tt0935075,Rabbit Hole,2010,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Rabbit Hole,5000000,2229058,6205034,2010
160,tt0938283,The Last Airbender,2010,"Action,Adventure,Family",True,False,False,False,False,False,...,False,True,False,False,False,The Last Airbender,150000000,131772187,319713881,2010

In [68]:
genre_financial_df[genre_financial_df.duplicated(subset = 'original_title', keep = False)]

,tconst,original_title,start_year,genres,Family,News,Western,Fantasy,Game-Show,Adult,...,Romance,Adventure,Documentary,Thriller,Short,movie,production_budget,domestic_gross,worldwide_gross,year
168,tt0955308,Robin Hood,2010,"Action,Adventure,Drama",False,False,False,False,False,False,...,False,True,False,False,False,Robin Hood,210000000,105487148,322459006,2010
173,tt4532826,Robin Hood,2018,"Action,Adventure,Thriller",False,False,False,False,False,False,...,False,True,False,True,False,Robin Hood,99000000,30824628,84747441,2018
209,tt10013288,The Promise,2017,Drama,False,False,False,False,False,False,...,False,False,False,False,False,The Promise,90000000,8224288,10551417,2017
210,tt4192918,The Promise,2017,Comedy,False,False,False,False,False,False,...,False,False,False,False,False,The Promise,90000000,8224288,10551417,2017
216,tt9889072,The Promise,2017,Drama,False,False,False,False,False,False,...,False,False,False,False,False,The Promise,90000000,8224288,10551417,2017
221,tt1661199,Cinderella,2015,"Drama,Family,Fantasy",True,False,False,True,False,False,...,False,False,False,False,False,Cinderella,95000000,201151353,534551353,2015
225,tt5089556,Cinderella,2015,Fantasy,False,False,False,True,False,False,...,False,False,False,False,False,Cinderella,95000000,201151353,534551353,2015
272,tt1014759,Alice in Wonderland,2010,"Adventure,Family,Fantasy",True,False,False,True,False,False,...,False,True,False,False,False,Alice in Wonderland,200000000,334191110,1025491110,2010
276,tt2049386,Alice in Wonderland,2010,"Fantasy,Musical",False,False,False,True,False,False,...,False,False,False,False,False,Alice in Wonderland,200000000,334191110,1025491110,2010
455,tt2380307,Coco,2017,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Coco,175000000,209726015,798008101,2017
456,tt7002100,Coco,2017,Horror,False,False,False,False,False,False,...,False,False,False,False,False,Coco,175000000,209726015,798008101,2017
504,tt4786282,Lights Out,2016,"Drama,Horror,Mystery",False,False,False,False,False,False,...,False,False,False,False,False,Lights Out,5000000,67268835,148806510,2016
505,tt5328340,Lights Out,2016,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,Lights Out,5000000,67268835,148806510,2016
537,tt1126590,Big Eyes,2014,"Biography,Crime,Drama",False,False,False,False,False,False,...,False,False,False,False,False,Big Eyes,10000000,14482031,27317872,2014
538,tt4317898,Big Eyes,2014,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,Big Eyes,10000000,14482031,27317872,2014
539,tt1126591,Burlesque,2010,"Drama,Music,Musical",False,False,False,False,False,False,...,False,False,False,False,False,Burlesque,55000000,39440655,90552675,2010
540,tt1586713,Burlesque,2010,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Burlesque,55000000,39440655,90552675,2010
698,tt1267297,Hercules,2014,"Action,Adventure,Fantasy",False,False,False,True,False,False,...,False,True,False,False,False,Hercules,100000000,72688614,243388614,2014
700,tt3985956,Hercules,2014,Comedy,False,False,False,False,False,False,...,False,False,False,False,False,Hercules,100000000,72688614,243388614,2014
713,tt1274300,The Tempest,2010,"Comedy,Drama,Fantasy",False,False,False,True,False,False,...,False,False,False,False,False,The Tempest,20000000,277943,277943,2010
714,tt1683003,The Tempest,2010,Drama,False,False,False,False,False,False,...,False,False,False,False,False,The Tempest,20000000,277943,277943,2010
781,tt1327709,Cyrus,2010,"Crime,Horror,Mystery",False,False,False,False,False,False,...,False,False,False,False,False,Cyrus,7000000,7468936,10062896,2010
782,tt1336617,Cyrus,2010,"Comedy,Drama,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Cyrus,7000000,7468936,10062896,2010
805,tt3059814,Redemption,2013,"Drama,Music,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,Redemption,23000000,36686,13593473,2013
806,tt3279418,Redemption,2013,"Drama,Mystery,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,Redemption,23000000,36686,13593473,2013
1008,tt4218696,The Wall,2017,"Action,Drama,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Wall,3000000,1803064,4495262,2017
1012,tt6845582,The Wall,2017,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,The Wall,3000000,1803064,4495262,2017
1013,tt7578246,The Wall,2017,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,The Wall,3000000,1803064,4495262,2017
1078,tt3387542,The Forest,2016,"Horror,Mystery,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Forest,10000000,26594261,40749230,2016
1079,tt4982356,The Forest,2016,"Drama,Fantasy,Horror",False,False,False,True,False,False,...,False,False,False,False,False,The Forest,10000000,26594261,40749230,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,tt1922685,Phantom,2013,"Drama,History,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,Phantom,18000000,1034589,1199510,2013
1833,tt3088580,Phantom,2013,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Phantom,18000000,1034589,1199510,2013
1904,tt3231362,Destiny,2014,"Adventure,Comedy,Family",True,False,False,False,False,False,...,False,True,False,False,False,Destiny,750000,0,450,2014
1905,tt3523348,Destiny,2014,"Drama,Music,Romance",False,False,False,False,False,False,...,True,False,False,False,False,Destiny,750000,0,450,2014
2028,tt2224026,Home,2015,"Adventure,Animation,Comedy",False,False,False,False,False,False,...,False,True,False,False,False,Home,130000000,177397510,385997896,2015
2055,tt5121236,Home,2015,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,Home,130000000,177397510,385997896,2015
2061,tt5884960,Home,2015,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,Home,130000000,177397510,385997896,2015
2165,tt2159988,The Walk,2015,"Crime,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Walk,35000000,10161183,61492104,2015
2166,tt3488710,The Walk,2015,"Adventure,Biography,Drama",False,False,False,False,False,False,...,False,True,False,False,False,The Walk,35000000,10161183,61492104,2015
2229,tt2205401,Addicted,2014,"Drama,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,Addicted,5000000,17390770,17499242,2014
2230,tt3435418,Addicted,2014,"Documentary,Music",False,False,False,False,False,False,...,False,False,True,False,False,Addicted,5000000,17390770,17499242,2014
2442,tt3532296,Joe,2014,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,Joe,4000000,373375,373375,2014
2443,tt3614128,Joe,2014,"Biography,Documentary",False,False,False,False,False,False,...,False,False,True,False,False,Joe,4000000,373375,373375,2014
2563,tt3381068,Legend,2015,Horror,False,False,False,False,False,False,...,False,False,False,False,False,Legend,25000000,1872994,42425450,2015
2569,tt3569230,Legend,2015,"Biography,Crime,Drama",False,False,False,False,False,False,...,False,False,False,False,False,Legend,25000000,1872994,42425450,2015
2656,tt5804314,Let There Be Light,2017,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Let There Be Light,3000000,7233471,7241309,2017
2657,tt6184774,Let There Be Light,2017,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,Let There Be Light,3000000,7233471,7241309,2017
2662,tt2943946,The Circle,2017,"Drama,Horror,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Circle,18000000,20497844,40651864,2017
2663,tt4287320,The Circle,2017,"Drama,Sci-Fi,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,The Circle,18000000,20497844,40651864,2017
2664,tt6954894,The Circle,2017,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,The Circle,18000000,20497844,40651864,2017
2823,tt3262990,Brotherly Love,2015,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Brotherly Love,1900000,478595,478595,2015
2824,tt3787742,Brotherly Love,2015,Horror,False,False,False,False,False,False,...,False,False,False,False,False,Brotherly Love,1900000,478595,478595,2015
2829,tt3276924,Heist,2015,"Action,Crime,Thriller",False,False,False,False,False,False,...,False,False,False,True,False,Heist,8900000,50136,3324131,2015
2831,tt5112932,Heist,2015,Action,False,False,False,False,False,False,...,False,False,False,False,False,Heist,8900000,50136,3324131,2015
2923,tt3530002,The Night Before,2015,"Adventure,Comedy,Fantasy",False,False,False,True,False,False,...,False,True,False,False,False,The Night Before,25000000,43035725,52427346,2015
2925,tt6353886,The Night Before,2015,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,The Night Before,25000000,43035725,52427346,2015
3036,tt3881784,Stronger,2017,"Biography,Drama",False,False,False,False,False,False,...,False,False,False,False,False,Stronger,30000000,4211129,8786752,2017
3037,tt5738152,Stronger,2017,Drama,False,False,False,False,False,False,...,False,False,False,False,False,Stronger,30000000,4211129,8786752,2017
3175,tt4645330,Denial,2016,"Biography,Drama",False,False,False,False,False,False,...,False,False,False,False,False,Denial,10000000,4073448,9263940,2016
3176,tt5897002,Denial,2016,Documentary,False,False,False,False,False,False,...,False,False,True,False,False,Denial,10000000,4073448,9263940,2016

In [73]:
#creating the net_income column
genre_financial_df['net_income'] = genre_financial_df['worldwide_gross'] - genre_financial_df['production_budget']

In [77]:
#creating the net_income_ratio
genre_financial_df['net_income_ratio'] = genre_financial_df['net_income'] / genre_financial_df['production_budget']

In [78]:
genre_financial_df.head()

,tconst,original_title,start_year,genres,Family,News,Western,Fantasy,Game-Show,Adult,...,Documentary,Thriller,Short,movie,production_budget,domestic_gross,worldwide_gross,year,net_income,net_income_ratio
0,tt0249516,Foodfight!,2012,"Action,Animation,Comedy",False,False,False,False,False,False,...,False,False,False,Foodfight!,45000000,0,73706,2012,-44926294,-0.998362
3,tt3844362,The Overnight,2015,"Comedy,Mystery",False,False,False,False,False,False,...,False,False,False,The Overnight,200000,1109808,1165996,2015,965996,4.829980
6,tt3872966,On the Road,2013,Documentary,False,False,False,False,False,False,...,True,False,False,On the Road,25000000,720828,9313302,2013,-15686698,-0.627468
10,tt0359950,The Secret Life of Walter Mitty,2013,"Adventure,Comedy,Drama",False,False,False,False,False,False,...,False,False,False,The Secret Life of Walter Mitty,91000000,58236838,187861183,2013,96861183,1.064409
11,tt0365907,A Walk Among the Tombstones,2014,"Action,Crime,Drama",False,False,False,False,False,False,...,False,False,False,A Walk Among the Tombstones,28000000,26017685,62108587,2014,34108587,1.218164